<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="DBTYPE" value="MSSQL"/>-->
    <add key="TNS" value="{0}Config\tnsnames.ora"/>
    <add key="Output" value="{0}Output" />
    <add key="Database" value="WGYDEV" />
    <add key="Username" value="wgydev" />
    <add key="Password" value="wgydev" />

    <!--<add key="DBTYPE" value="MYSQL"/>-->
    <add key="DBTYPE" value="MYSQL"/>
    <add key="TnsHost" value="11.11.11.32"/>
  </appSettings>
</configuration>